

.header{
    padding: 20px;
    margin-left: 450px;
    font-family: 'Diplomata SC';
    font-size: 50px;

}

.container{
    background-image: url("https://images.unsplash.com/photo-1620641788421-7a1c342ea42e?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=774&q=80");
    border: 20px solid blue;
    padding: 30px;
    height: 350px;
    width: 600px;
    margin-left: 350px;
    margin-top: 30px;
    border-radius: 100px;
    border-style: ridge;

}

.form{
    margin-left: 45px; 

}

.input{
    padding: 15px;
    width: 413px;
    margin: 20px;
    border-radius: 20px;
}


.btn{
    padding: 12px;
    margin-left: 60px;
    margin-top: 20px;
    border-radius: 10px;
    color: rgb(23, 8, 232);
    font-weight: bolder;
    font-size: x-large;
    cursor: pointer;
}

.result{
    margin-left: 80px;
    margin-top: 50px;
    font-weight: bolder;
    font-size: x-large;
    color: rgb(187, 196, 198);
    font-family: 'Diplomata SC';

}
